<!doctype html>
<html>

<head>
  <title>Title</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
  </style>
</head>

<body>
  <div id='app'>
    <v-app>
      <v-content>
        <v-container grid-list-sm>
          <v-layout row wrap>
            <v-flex xs12>
              <v-card>
                <v-card-title>
                  <div class="display-1">Todos</div>
                  <v-btn class="button button-primary flat blue" @click="add()">Add</v-btn>
                </v-card-title>
              </v-card>
            </v-flex>
            <v-flex xs12 v-for="row in rows">
              <v-card>
                <v-card-text>
                  <div>
                    <v-text-field label="Todo title" v-model="row.doc.title" @change="updater(row)">
                  </div>
                  <div>
                    <v-btn class="button red" @click="deleteRow(row)">Delete</v-btn>
                  </div>
                </v-card-text>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
  <script src='https://unpkg.com/vue'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/pouchdb@6.3.4/dist/pouchdb.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>



  <script>

    var app = new Vue({
      el: '#app',
      data: {
        rows: [],
      },
      methods: {
        add() {
          addTodo("New Todo");
        },
        updater(row) {
          db.put(row.doc);
        },
        deleteRow(row) {
          db.remove(row.doc);
        }
      },
    });

    var db = new PouchDB('');
    var remoteCouch = "";

    updatedDB();

    var sync = PouchDB.sync('', remoteCouch, {
      live: true,
      retry: true
    }).on('change', function (info) {
      console.log("Change");
      updatedDB();
    }).on('paused', function (err) {
      console.log("Paused");
    }).on('active', function () {
      console.log("ACtive");
      updatedDB();
    }).on('denied', function (err) {
      console.log("Denied");
    }).on('complete', function (info) {
      console.log("Complete");
    }).on('error', function (err) {
      console.log("Error");
    });

    db.changes({
      since: 'now',
      live: true
    }).on('change', updatedDB);


    function sync() {
      var opts = { live: true };
      db.replicate.to(remoteCouch, opts, syncError);
      db.replicate.from(remoteCouch, opts, syncError);
    }

    function syncError(error) {
      console.log("There was an error in syncing - " + error);
    }

    function addTodo(text) {
      var todo = {
        _id: new Date().toISOString(),
        title: text,
        completed: false
      };
      db.put(todo, function callback(err, result) {
        if (!err) {
          console.log('Successfully posted a todo!');
        }
      });
    }


    function updatedDB() {


      db.allDocs({ include_docs: true }, function (err, doc) {


        app.rows = doc.rows;
      });
    }

    //sync();

  </script>

</body>

</html>
